.main-class {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}
.header-cont {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.row > * {
  padding-right: 0 !important;
  padding-left: 0 !important;
}

.btn .flag-icon {
  height: 18px;
  width: 18px;
  margin-right: 10px;
}

.icon {
  width: 10px;
}

.left-side {
  cursor: pointer;
  background-color: #f5fcff;
  /* flex: 0.4 1; */
  /* justify-content: center; */
}
.inside-left-side {
  color: #000;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 1px;
  padding: 10px;
}

.btn-outline-info-active {
  /* background-color: #6ec1e4 !important; */
  color: #6ec1e4 !important;
  border-bottom: 2px solid #6ec1e4 !important;
  border-radius: 0 !important;
  cursor: pointer !important;
  font-weight: 600 !important;
  outline: none !important;
}
/* .btn-outline-info-active:focus {
border: none !important;
background: red;
outline: none !important;
} */

.bg-blue {
  background-color: #6ec1e4;
  padding: 5px;
  cursor: pointer;
}

.btn-outline-info {
  border: none !important;
  border-radius: 6px !important;
  color: #000 !important;
  cursor: pointer !important;
  font-weight: 600 !important;
  background-color: #fff;
  outline: none;
  /* letter-spacing: .5px !important; */
  /* margin-right: 10px !important; */
  /* padding: 10px 16px !important; */
}
.btn-outline-info:hover{
  background: none;
    border: none;
}
.btn-outline-info:focus{
  outline: none !important;
    border: none !important;
}

.btn-primaryy {
  background-color: #2c365d;
  border: 2px solid #2c365d;
  border-radius: 6px;
  color: #fff;
  cursor: default;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px;
  padding: 10px 16px;
  /* width: 128px; */
}
.btn-primaryy:hover {
  color: #fff;
  cursor: auto;
}

.col-md-3 {
  text-align: center !important;
}
.h4 {
  font-size: 20px !important;
  font-weight: bold;
}
.mobile {
  display: none !important;
}
.mobile-table-row {
  text-align: center;
}
@media (max-width: 1100px) {
  .main-class {
    width: 90%;
  }
}
@media (max-width: 800px) {
  .header-cont {
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    align-items: center !important;
  }
  .main-class {
    width: 85%;
  }
  .h4 {
    text-align: center;
  }
  .currency-cont {
    margin: 30px 0;
  }
  .d-flex {
    justify-content: center;
  }
  .icon,
  .inside-left-side {
    margin-right: auto;
  }
  .icon {
    margin-left: 10px;
  }
  .for-mobile-screen {
    text-align: center !important;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .main-class {
    /* width: 90%; */
    margin-left: auto;
    margin-right: auto;
  }
  .desktop {
    display: none;
  }
  .mobile {
    display: flex !important;
  }
  /* .mobile {
    justify-content: center;
  } */
}

@media only screen and (max-width: 420px) {
  .for-mobile-screen {
    text-align: center !important;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .main-class {
    /* width: 90%; */
    margin-left: auto;
    margin-right: auto;
  }
}
